*.out
t.*
*.db
*.spec
*.log
*.dump
*.code-workspace
osxmetadata.egg-info/
.pytest_cache/
.test_env/
.vscode
__pycache__*
build/
dist/
scratch/
.DS_Store
venv/
.python-version
.coverage
pyrightconfig.json
site/
working/
